<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>

		<h1>Login</h1>
		
		<form method="POST" action="/store/login.cgi">
			<div>
				<label for="username">Username</label>
				<input type="text" id="username" name="username"/>
			</div>
			<div>
				<label for="password">Password</label>
				<input type="password" id="password" name="password"/>
			</div>
			<div>
				<button type="submit">Login</button>
			</div>
		</form>

		<script type="text/javascript" src="/js/script.js"></script>
	</body>
</html>